# This matrix builds VSYS with various JDKs and will be expanded to cover many more cases.   

name: Build VSYS
on: [push,pull_request]

jobs:
  build:
   runs-on: ubuntu-latest
 
   steps:
   - name: install scala
     run: |
       echo "deb https://repo.scala-sbt.org/scalasbt/debian all main" | sudo tee /etc/apt/sources.list.d/sbt.list
       echo "deb https://repo.scala-sbt.org/scalasbt/debian /" | sudo tee /etc/apt/sources.list.d/sbt_old.list
       curl -sL "https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x2EE0EA64E40A89B84B2DF73499E82A75642AC823" | sudo apt-key add
       sudo apt-get update
       sudo apt-get install sbt
       
   - uses: actions/checkout@v2

   - name: Build and Package
     run: sbt packageAll
        
           
        
