# This matrix builds VSYS with various JDKs and will be expanded to cover many more cases.   

name: VSYS Matrix
  on:
    push:
  jobs:
    build:
    strategy:
      matrix:
        java: [graalvm, zulu, zulu@1.08, zulu@1.11 openjdk@1.14, openjdk@1.13, openjdk@1.11, openjdk@1.8, openjdk@1.12]
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v1
      - uses: olafurpg/setup-scala@v5
        with:
        java-version: ${{ matrix.java }}
      - name: packageAll
        run: sbt packageAll
        
        
        
